.App {
  text-align: center;
  background: #e2f597;
  width: 100%;
  min-height: 100%;
  display: inline-flex; /* гибкий */
  justify-content: center;
  align-items: center; /* выравнивание элементов */
  flex-direction: column;



}
