.App {
  text-align: center;
  background: burlywood;
  width: 100%;
  min-height: 100%;
  display: flex; /* гибкий */
  justify-content: center;
  align-items: center; /* выравнивание элементов */
  flex-direction: column;


}
